:root{
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #FFFFFF;
    --light-rgb: 255, 255, 255;
    --dark-rgb: 68, 55, 55;
    --line: #dedede;

    --tr: .2s;
}

body {
    font-family: var(--open-sans);
    font-weight: 600;
}
a {
    text-decoration: none;
    transition: var(--tr);
}
button {
    cursor: pointer;
    transition: var(--tr);
}
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; 
    box-sizing: border-box;
}

/* Header */

.header {
    border-bottom: 1px solid var(--line);
}
.header-wrapper {
    display: flex;
    align-items: center;
    gap: 56px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.burger-menu {
    display: none;
}
.logo {
    display: block;
    width: 175.7px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav {
    flex-grow: 1;
    display: flex;
    gap: 47px;
    margin-left: min(11vw, 140px);
}
.nav-link {
    color: var(--dark);
    text-decoration: none;
    font-size: 20px;
}
.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
}
.nav-link:hover::after {
    background-color: var(--accent-light);
}
.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    position: relative;
}
.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background-color: var(--accent-dark);
    color: var(--light);
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 17px;
}
.button-up {
    position: fixed;
    right: 10px;
    bottom: 10px;
    max-width: 80px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    border-radius: 5px;
    border: none;
    background-color: var(--accent-light);
    padding: 5px 10px;
    max-height: 58px;
}
.button-up:hover {
    background-color: var(--accent-dark);
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}

/* Hero */

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}
.hero-contact {
    background-image: url(../images/hero-contact.jpg);
}
.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), .5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumbs-link {
    color: rgba(var(--light-rgb), .5);
}
.breadcrumbs-item {
    position: relative;
}
.breadcrumbs-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -12px;
}
.breadcrumbs-link:hover {
    color: var(--accent-light);
}
.hero-title {
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 79px;
    color: var(--light);
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 18px;
}
.hero-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: rgba(var(--light-rgb), .8);
    max-width: 320px;
    margin: 0 auto;
}

/* Banner */

.banner {
   margin-top: 140px;
   margin-bottom: 100px;
}
.banner-wrapper {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px;
    color: var(--light);
}
.banner-title {
    font-family: var(--nunito-sans);
    font-weight: 900;
    font-size: 60px;
    line-height: 127%;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}
.banner-title span{
    display: block;
    margin-bottom: 2px;
    font-family: var(--open-sans);
    background-color: var(--accent-dark);
    border-radius: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    padding: 5px 0;
    text-align: center; 
    max-width: 95px;
}
.banner-description {
    color: rgba(var(--light-rgb), .8);
    font-weight: 400;
    font-size: 15px;
    max-width: 353px;
    line-height: 160%;
    margin-top: 0;
}
.banner-btn {
    display: block;
    max-width: 170px;
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    border-radius: 5px;
    border: none;
    background-color: var(--accent-light);
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 58px;
}
.banner-btn:hover {
    background-color: var(--accent-dark);
}

/* Menu and Addition */

main {
    margin-bottom: 100px;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
}
.menu-title, .addition-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    text-transform: uppercase;
    color: var(--dark);
}
.menu-select {
    border: 1px solid var(--line);
    border-radius: 22px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--dark);
    padding: 9px 29px;
    flex-basis: 279px;
    appearance: none;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 14px 10px;
    background-position: 89% center;
    
}
.menu-box, .addition-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
}
.menu-item, .addition-item {
    text-align: center;
    font-family: var(--nunito-sans);
}
.menu-thumb, .addition-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-thumb img, .addition-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.menu-name, .addition-name {
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    color: var(--dark);
    margin-top: 20px;
    margin-bottom: 5px;
}
.menu-price, .addition-price {
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: rgba(var(--dark-rgb), .5);
}
.pay-btn {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-light);
    padding: 10px 28px;
    padding-right: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: var(--dark);
}
.pay-btn:hover {
    background-color: var(--accent-dark);
}
.pay-btn::before {
    content: "";
    display: block;
    background-image: url(../images/cart-btn.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}

aside {
    margin-bottom: 140px;
}
.addition-title {
    margin-bottom: 34px;
}

/* Footer */

.footer {
    background-color: #1E2F40;
    padding-top: 114px;
    padding-bottom: 106px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.footer-logo {
    margin-top: 6px;
    display: block;
    background-image: url(../images/logo-light-min.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 63px;
    height: 56px;
}
.footer-title {
    font-family: var(--nunito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: var(--light);
    margin-top: 0;
    margin-bottom: 12px;
}
.footer-title.nav{
    font-weight: 900;
    margin-left: 0;
}
.footer-nav {
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-nav a {
    color: rgba(var(--light-rgb), .9);
}
.footer-nav a:hover {
    color: var(--accent-light);
}
.footer-list {
    font-size: 15px;
    line-height: 160%;
    color: var(--light);
    font-weight: 700;
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}
.footer-list span {
    margin-bottom: 2px;
    font-weight: 400;
    display: block;
    color: rgba(var(--light-rgb), .9);
} 
.footer-list li:first-child {
    margin-bottom: 12px;
}
.footer-phone {
    margin-top: 2px;
    font-family: var(--nunito-sans);
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    text-align: right;
    color: var(--accent-light);
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.footer-phone:hover {
    color: var(--light);
}
.footer-phone._mobile {
    display: none;
}
.footer-item:last-child {
    flex-basis: 194px;
}
/* Contacts */

.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}
.contact-map {
    flex-basis: 680px;
}
.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}
.contact-adress > li:not(:last-child) {
    margin-bottom: 26px;
}
.contact-adress > li > span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}
.contact-adress > li > span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}
.contact-adress > li > span:last-child {
    font-weight: 700;
    margin-top: 10px;
}
.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}
.contact-additionally > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.contact-additionally > li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-additionally > li:nth-child(1):before {
    background-image: url(../images/contact/01.svg);
}
.contact-additionally > li:nth-child(2):before {
    background-image: url(../images/contact/02.svg);
}
.contact-additionally > li:nth-child(3):before {
    background-image: url(../images/contact/03.svg);
}
.contact-info, .contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}
.contact-tel {
    transition: var(--tr);
}
.contact-tel:hover {
    color: var(--accent-light);
}

/* Media */

@media (max-width: 1080px) {
    .nav {
        margin-left: 0;
        gap: min(3vw, 30px);
    }

}
@media (max-width: 768px) {
    .header-wrapper {
        gap: 45px;
    }
    .nav {
        gap: 22px;
    }
    .logo {
        width: 150px;
        height: 47.81px;
    }
    .banner {
        margin-top: 72px;
        margin-bottom: 80px;
     }
     .banner-wrapper {
        padding: 100px 40px;
        background-position: -81px center;
     }
     .menu-box {
        grid-template-columns: repeat(2, 1fr);
     }
     .addition-box {
        grid-template-columns: repeat(1, 1fr);
     }
     .addition-item {
        display: flex;
        align-items: center;
        gap: 20px;
     }
     .addition-thumb {
        height: 260px;
        flex-basis: calc(60% - 20px);
     }
     .addition-info {
        flex-basis: 40%;
     }
     .addition-name {
        margin-top: 0;
     }
     .footer {
        padding-top: 59px;
        padding-bottom: 71px;
    }
    .footer-logo {
        margin-top: 3px;
    }
     .footer-phone._mobile {
        display: block;
        text-align: left;
    }
    .footer-item:last-child {
        display: none;
    }
    .footer-nav {
     margin-bottom: 12px;
    }
}

@media (max-width: 730px) {
    .header-wrapper {
        gap: 21px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
    .nav {
        display: none;
    }
    .nav-link::after {
        display: none;
    }
    .burger-menu{
        display: block;
        width: 34px;
        height: 22px;
        background-image: url(../images/burger-menu.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
    }
    .logo {
        width: 116px;
        height: 37px;
        flex-grow: 1;
    }
    .nav._modal {
        display: flex;
        flex-direction: column;
    }
    .modal {
        width: 100%;
        max-width: 500px;
        background-color: #FFF8DC;
        padding: 40px 15px;
        position: absolute;
        top: -400px;
        box-sizing: border-box;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        transition: var(--tr);
    }
    .modal-close {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .breadcrumbs {
        font-size: 14px;
        color: var(--line);
    }
    .breadcrumbs-link {
        color: var(--line);
    }
    .hero {
        padding-top: 56px;
        padding-bottom: 55px;
    }
    .hero-title {
        font-size: 38px;
        margin-top: 28px;
        margin-bottom: 13px;
    }
    .hero-description {
        font-size: 12px;
        line-height: 167%;
        color: #faf9f9;
        max-width: 258px;
    }
    .banner {
        margin-top: 33px;
        margin-bottom: 50px;
    }
    .banner-wrapper {
        padding: 35px 17px;
        background-position: -81px center;
    }
    .banner-description {
        max-width: 233px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .banner-btn {
        max-width: 196px;
    }
}