:root{
    --open-sans: "Open Sans", sans-serif;
    --nunito-sans: "Nunito Sans", sans-serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light: #FFFFFF;
    --light-rgb: 255, 255, 255;
}

body {
    font-family: var(--open-sans);
    font-weight: 600;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    gap: 196px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.logo {
    display: block;
    width: 175.7px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav {
    flex-grow: 1;
    display: flex;
    gap: 46px;
}
.nav-link {
    color: var(--dark);
    text-decoration: none;
    font-size: 20px;
}
.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
}
.nav-link:hover::after {
    background-color: var(--accent-light);
}
.cart {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    position: relative;
}
.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background-color: var(--accent-dark);
    color: var(--light);
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 17px;
}

/* Hero */

.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 142px;
    padding-bottom: 142px;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    color: rgba(var(--light-rgb), .5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumbs-link {
    color: rgba(var(--light-rgb), .5);
}
.breadcrumbs-item {
    position: relative;
}
.breadcrumbs-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -12px;
}
.breadcrumbs-link:hover {
    color: var(--accent-light);
}
.hero-title {
    font-family: var(--nunito-sans);
    font-weight: 700;
    font-size: 79px;
    color: var(--light);
    text-transform: capitalize;
}
.hero-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: rgba(var(--light-rgb), .8);
    max-width: 320px;
    margin: 0 auto;
}